$white: #EFEAF2;
$grey: #A897B2;
$primary: #8A00DE;
$semi-dark-primary: #370953;
$dark-primary: #370953;
$secondary: #B0C443;
$dark-secondary: #A897B2;

body {
  background: linear-gradient($primary, $dark-primary);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App,
.root {
  height: 100%;
}